body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #000306;
}

h1 {
    color: #ffffff;
}

form {
    background-color: #7cb7dc;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="number"] {
    width: 80%;
    background-color: #ffffff;
    padding: 4px;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

p {
    font-weight: bold;
    color: #fff;
    margin-top: 10px;
}